
.nav-bar li{
  display: inline-block;
  padding: 10px;
}
.nav-bar li a{
  color: #fff;
  padding: 5px;
  text-decoration: none;
}
.nav-bar{
  padding: 5px;
  margin: 0;
  background-color: skyblue;
}
.footer{
  position: absolute;
  bottom:0;
  text-align: center;
  width: 100%;
  background-color: skyblue;

}
.login{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 5rem;
}

.register{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.add-product{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.inputBox{
  text-align: center;
  display: block;
  margin: 20px;
  padding: 13px;
  width: 300px;
  border: 1px solid skyblue;
  border-radius: 5px;
} 
.signUpBtn{
  padding: 13px;
  background-color: skyblue;
  border: hidden;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 10rem;
}
.loginBtn{
  padding: 13px;
  background-color: skyblue;
  border: hidden;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 10rem;
}
.add-product-btn{
  padding: 13px;
  background-color: skyblue;
  border: hidden;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 10rem;
  margin-top: 1rem;
}
.update-product-btn{
  padding: 13px;
  background-color: skyblue;
  border: hidden;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 10rem;
  margin-top: 1rem;
}
.nav-right{
  text-align: right;
}
.logo{
  width: 45px;
  float: left;
  border-radius: 50%;
  margin-top: 0.4%;
  margin-left: 0.7%;
}
.invalid-input{
  color: red;
  margin:-10px;
  /* margin-left: 20px; */
}
.product-list{
  text-align: center;
  margin-top: 50px;
}
.product-list ul {
  margin: 0;
}
.product-list ul li{
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}

.head{
  font-weight: bold;
}
#searchProduct{
  width: 400px;
  margin: 20px;
  height: 40px;
  border: 1px solid skyblue;
  padding-left: 10px;
}