
.nav-bar li{
  display: inline-block;
  padding: 10px;
}
.nav-bar li a{
  color: #fff;
  padding: 5px;
  text-decoration: none;
}
.nav-bar{
  padding: 5px;
  margin: 0;
  background-color: skyblue;
}
.footer{
  position: absolute;
  bottom:0;
  text-align: center;
  width: 100%;
  background-color: skyblue;

}
.register{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.inputBox{
  text-align: center;
  display: block;
  margin: 20px;
  padding: 13px;
  width: 300px;
  border: 1px solid skyblue;
  border-radius: 5px;
}
.signUpBtn{
  padding: 13px;
  background-color: skyblue;
  border: hidden;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 10rem;
}