
.nav-bar li{
  display: inline-block;
  padding: 10px;
}
.nav-bar li a{
  color: #fff;
  padding: 5px;
  text-decoration: none;
}
.nav-bar{
  padding: 5px;
  margin: 0;
  background-color: skyblue;
}
.footer{
  position: absolute;
  bottom:0;
  text-align: center;
  width: 100%;
  background-color: skyblue;

}